<div class="how-to-see-container">
  <div class="top-text">
    <div class="see-for-yourself cinzel-regular SEE_Green">
      {{ seeforYourselfText | async }}
    </div>
    <div class="you-are-magic cinzel-regular SEE_Green">
      {{ yourAreMagicalText | async }}
    </div>
  </div>
  <div class="how-to-see">
    <div class="how-to-see-text cinzel-regular SEE_Green">
      {{ howToText | async }}
    </div>
    <div class="see-logo-container">
      <img
        src="assets/images/see_letter_logo.png"
        width="228"
        height="90"
        alt=""
        class="howtoseeimg"
      />
    </div>
  </div>
  <div class="image-tutorial">
    <div class="step-1 tutorial-width widthMax">
      <div class="step-1-img-container">
        <img
          src="assets/images/drawsee0.png"
          width="201"
          height="361"
          alt=""
          class="step-1-img"
        />
      </div>

      <div class="step-text cinzel-regular SEE_Green">
        {{ step1Text | async }}
      </div>
    </div>
    <div class="step-2 tutorial-width widthMax">
      <div class="lotus-img-container">
        <div class="positioning-lotus">
          <img
            src="assets/images/Lotus_edited.png"
            width="93"
            height="63"
            alt=""
            class="lotus-img"
          />
        </div>
      </div>
      <div class="cat-img-container">
        <div class="positioning-cat">
          <img
            src="assets/images/seekittygreen.png"
            width="127"
            height="280"
            alt=""
            class="step-2-img"
          />
        </div>
      </div>
      <div class="step-text cinzel-regular SEE_Green" style="margin-top: 13px">
        {{ step2Text | async }}
      </div>
    </div>
    <div class="step-3 tutorial-width step-3-img-container widthMax">
      <img
        src="assets/images/drawsee1.png"
        width="201"
        height="361"
        alt=""
        class="step-3-img"
      />
      <div class="step-text cinzel-regular SEE_Green">
        {{ step3Text | async }}
      </div>
    </div>
    <div class="step-4 tutorial-width step-4-img-container widthMax">
      <img
        src="assets/images/drawsee2.png"
        width="201"
        height="361"
        alt=""
        class="step-4-img"
      />
      <div class="step-text cinzel-regular SEE_Green">
        {{ step4Text | async }}
      </div>
    </div>
  </div>
  <div class="try-online cinzel-regular">
    <a
      class="SEE_Green"
      href="https://whatcanyousee.github.io/seepsychictrainerdemo/"
      target="_blank"
      >{{ tryItFreeText | async }}</a
    >
  </div>
  <div class="see-for-yourself-mobile cinzel-regular SEE_Green">
    <div class="see-yourself-mobile">{{ seeforYourselfText | async }}</div>
  </div>
</div>
