<div class="how-to-see-container">
  <div class="top-text">
    <div class="see-for-yourself cinzel-regular SEE_Green">See for yourself!</div>
    <div class="you-are-magic cinzel-regular SEE_Green">You are magical!</div>
  </div>
  <div class="how-to-see">
    <div class="how-to-see-text cinzel-regular SEE_Green">How to</div>
    <img src="assets/images/see_letter_logo.png" width="228" height="90" alt="" class="howtoseeimg">
  </div>
  <div class="image-tutorial">
    <div class="step-1 tutorial-width">
      <div class="step-1-img-container">
        <img src="assets/images/drawsee0.png" width="201" height="361"  alt="" class="step-1-img">
      </div>

      <div class="step-text cinzel-regular SEE_Green">1) Choose a Target</div>
    </div>
    <div class="step-2 tutorial-width">
      <div class="lotus-img-container">
        <div class="positioning-lotus">
          <img src="assets/images/Lotus_edited.png" width="93" height="63"  alt="" class="lotus-img">
        </div>

      </div>
      <div class="cat-img-container">
        <div class="positioning-cat">
          <img src="assets/images/seekittygreen.png" width="127" height="280"  alt="" class="step-2-img">
        </div>
      </div>
      <div class="step-text cinzel-regular SEE_Green" style="margin-top: 13px;">2) Relax</div>
    </div>
    <div class="step-3 tutorial-width">
      <img src="assets/images/drawsee1.png" width="201" height="361"  alt="" class="step-3-img">
      <div class="step-text cinzel-regular SEE_Green">3) Sketch what you see in your mind</div>
    </div>
    <div class="step-4 tutorial-width">
      <img src="assets/images/drawsee2.png" width="201" height="361" alt="" class="step-4-img">
      <div class="step-text cinzel-regular SEE_Green">4) Reveal</div>
    </div>
  </div>
  <div class="try-online cinzel-regular"><a class="SEE_Green" href="https://whatcanyousee.github.io/seepsychictrainerdemo/" target="_blank">Try it online free</a></div>
</div>
