<div class="navbar SEE_Green">
  <div *ngIf="isMobileScreen" (click)="toggleNavbar()" class="hamburger-icon">
    ☰
  </div>
  <div
    class="link-container"
    [class.active]="isMobileScreen ? isNavbarVisible : true"
  >
    <div class="links cinzel-regular SEE_Green pointer" (click)="closeNavbar()">
      <a class="cinzel-regular SEE_Green pointer a-link" routerLink="/">{{
        homeLink | async
      }}</a>
    </div>
    <div class="links cinzel-regular SEE_Green pointer" (click)="closeNavbar()">
      <a class="SEE_Green a-link" routerLink="/demo">{{ demoLink | async }}</a>
    </div>
  </div>
  <div class="language-dropdown-container">
    <app-country-dropdown></app-country-dropdown>
  </div>
</div>
