<div class="jumbo-container" *ngIf="!isMobileScreen">
  <div class="image-container">
    <div class="img-position">
      <img class="sun-image" src="assets/images/sun.png" alt="" />
    </div>
    <div class="img-position">
      <img
        class="phone-image"
        src="assets/images/phonescreenshot-0.png"
        alt=""
      />
    </div>
    <div class="img-position">
      <img class="moon-image" src="assets/images/moon_edited.png" alt="" />
    </div>
    <div class="img-position">
      <img
        class="three-eyed-cat-image"
        src="assets/images/three-eyedcat_official.png"
        alt=""
      />
    </div>
    <div class="img-position">
      <img
        class="see-logo-image"
        src="assets/images/New_SEE_Logo-min.png"
        alt=""
      />
    </div>
    <div class="jumbo-text">
      <div class="cinzel-thin see-pitch-text">
        The Premiere Remote Viewing & Psychic trainer is here!
      </div>
    </div>
  </div>
</div>

<div class="jumbo-container" *ngIf="isMobileScreen">
  <div class="image-container">
    <div>
      <div class="img-position">
        <img
          class="see-logo-image"
          src="assets/images/New_SEE_Logo-min.png"
          alt=""
        />
      </div>
      <div class="jumbo-text">
        <div class="cinzel-thin see-pitch-text">
          The Premiere Remote Viewing & Psychic trainer is here!
        </div>
      </div>
    </div>
    <div class="mobile-phone-group">
      <div class="small-images-container">
        <div class="behind-images">
          <div class="img-position">
            <img
              class="phone-image"
              src="assets/images/phonecombined.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
