.jumbo-container {
  width: 100%;
  padding-top: 2rem;

  .image-container {
    position: relative;
    height: 600px;
    width: 880px;
    color: white;
    margin: auto;

    .see-logo-image {
      position: absolute;
      top: 61px;
      left: 108px;
      width: 580px;
      height: 461px;
      object-fit: cover;
    }

    .phone-image {
      position: absolute;
      top: 0;
      left: 569px;
      width: 259px;
      height: 499px;
      object-fit: cover;
    }

    .moon-image {
      position: absolute;
      top: 172px;
      left: 110px;
      width: 154px;
      height: 154px;
      object-fit: cover;
    }

    .sun-image {
      position: absolute;
      top: 80px;
      left: 460px;
      width: 175px;
      height: 175px;
      object-fit: cover;
    }

    .three-eyed-cat-image {
      position: absolute;
      top: 50px;
      left: 244px;
      width: 111px;
      height: 101px;
      object-fit: cover;
    }

    .jumbo-text {
      position: absolute;
      top: 525px;
      left: 300px;
      font-size: 18px;

      .see-pitch-text {
        text-align: center;
        width: 315px;
      }
    }
  }
}
