.jumbo-container {
  width: 100%;
  padding-top: 2rem;

  @media (max-width: 768px) {
    width: auto;
    height: 60rem;
  }

  .image-container {
    position: relative;
    height: 600px;
    width: 880px;
    color: white;
    margin: auto;

    @media (max-width: 768px) {
      text-align: center;
      width: auto;
    }

    .see-logo-image {
      position: absolute;
      top: 61px;
      left: 108px;
      width: 580px;
      height: 461px;
      object-fit: cover;
      @media (max-width: 768px) {
        position: relative !important;
        top: inherit;
        left: inherit;
        width: auto;
        height: 350px;
      }
    }

    .phone-image {
      position: absolute;
      top: 0;
      left: 569px;
      width: 259px;
      height: 499px;
      object-fit: cover;
      @media (max-width: 768px) {
        position: inherit;
        width: 370px;
        height: 499px;
        margin-top: 2rem;
        object-fit: cover;
        z-index: 10;
      }
    }

    .moon-image {
      position: absolute;
      top: 172px;
      left: 110px;
      width: 154px;
      height: 154px;
      object-fit: cover;
      @media (max-width: 768px) {
        z-index: 1;
      }
    }

    .sun-image {
      position: absolute;
      top: 80px;
      left: 460px;
      width: 175px;
      height: 175px;
      object-fit: cover;
      @media (max-width: 768px) {
        z-index: 1;
      }
    }

    .three-eyed-cat-image {
      position: absolute;
      top: 50px;
      left: 244px;
      width: 111px;
      height: 101px;
      object-fit: cover;
      @media (max-width: 768px) {
        z-index: 1;
      }
    }

    .jumbo-text {
      position: absolute;
      top: 525px;
      left: 300px;
      font-size: 18px;
      @media (max-width: 768px) {
        position: relative !important;
        top: auto;
        left: auto;
        .see-pitch-text {
          text-align: center;
          width: 315px;
          position: relative !important;
          top: inherit;
          left: inherit;
          margin: auto;
        }
      }
    }
  }
}
