<div class="policy-container">
  <div class="header-title cinzel-thin">{{privacyPolicyTitleText | async}}</div>

  <div class="main-text droid-naskh">
    <div class="sub-text">
      <div class="text">
        {{topText | async}}
      </div>
      <div class="text">
        {{secondText | async}}
      </div>
    </div>

    <div class="paragraph">
      {{disclaimerText | async}}
    </div>

    <div class="section-text">
      <h2>{{changesTitleText | async}}</h2>
    </div>

    <div class="paragraph">
      {{changesParagraphText | async}}
    </div>

    <div class="section-text"><h2>{{logDataTitleText | async}}</h2></div>

    <div class="paragraph">
      {{logDataParagraphText | async}}
    </div>

    <div class="section-text"><h2>{{securityTitleText | async}}</h2></div>

    <div class="paragraph">
      {{securityParagraphText | async}}
    </div>

    <div class="section-text"><h2>{{linskToSitesTitleText | async}}</h2></div>

    <div class="paragraph">
      {{linskToSitesParagraphText | async}}
    </div>

    <div class="section-text"><h2>{{changeToPolicyTitleText | async}}</h2></div>

    <div class="paragraph">
      {{changeToPolicyParagraphText | async}}
      <a target="_blank" class="email-link" href="mailto:BeSeen@canyousee.net"
        >BeSeen&#64;canyousee.net</a
      >
    </div>

    <div class="home-nav">
      <a class="cinzel-regular SEE_Green pointer" [routerLink]="['/']">
      {{homeLinkText | async}}</a>
    </div>
  </div>
</div>
