<div class="video-embed-container">
  <div class="lotus-img-container">
    <img src="assets/images/Lotus_flower.png" width="127" height="91" alt="" class="lotus-img">
  </div>
  <div class="youtube-content">
    <iframe
      width="668"
      height="380"
      src="https://www.youtube.com/embed/HqI7fEHZxUs?si=GeayYb6AyOcyf1UN"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </div>
</div>
