.video-embed-container {
  height: 542px;

  .lotus-img-container {
    width:127px;
    margin:auto;
    padding-top: 1rem;
  }

  .youtube-content {
    width: 668px;
    height: 380px;
    border: 5px solid white;
    margin: auto;
  }
}
