/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  scroll-behavior: smooth;
  background: radial-gradient(circle, #00000059, #000000de),
    url(/assets/images/background-min.png) no-repeat center center fixed;
  background-size: cover;
  overscroll-behavior: auto;
}

.main-container {
  overscroll-behavior: auto;
}

@font-face {
  font-family: "Cinzel";
  src: url("assets/fonts/cinzel_reg.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cinzel Thin";
  src: url("assets/fonts/cinzel_thin.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Droid Naskh";
  src: url("assets/fonts/droidnaskh-regular.woff") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "symbols";
  src: url("assets/fonts/icomoon.ttf");
}

.cinzel-regular {
  font-family: "Cinzel", serif;
}

.cinzel-thin {
  font-family: "Cinzel Thin", serif;
}

.droid-naskh {
  font-family: "Droid Naskh", serif;
}

.icomoon {
  font-family: "symbols";
}

.SEE_Green {
  color: #c4dc0c;
}

.pointer {
  cursor: pointer;
}
