<div class="download-container">
  <div class="download">
    <div class="download-now-text">
      <span class="cinzel-regular SEE_Green">{{downloadNowText | async}}</span>
    </div>
    <div class="download-buttons">
      <div class="google-button">
        <a class="pointer" href="https://play.google.com/store/apps/details?id=com.seepsychictandroid.app" target="_blank">
          <img
            class="button-size pointer"
            src="assets/images/googlestore_logo_edited.png"
            alt="Download SEE on the Google Play Store"
        /></a>
      </div>
      <div class="apple-button">
        <a class="pointer" href="https://apps.apple.com/us/app/see-psychic-trainer/id1588281585" target="_blank">
          <img
            class="button-size pointer"
            src="assets/images/applestore_logo_edited.png"
            alt="Download SEE on the Apple App Store"
        /></a>
      </div>
      <div class="direct-download-button">
        <a class="pointer" href="https://blackhouseconsulting.gumroad.com/l/seepsychictrainerandroid" target="_blank"
          ><img
            class="button-size pointer"
            src="assets/images/android_download.png"
            alt="Download SEE Psychic Trainer on the Gumroad"
        /></a>
      </div>
    </div>
  </div>
</div>
