/* country-dropdown.component.css */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  background-color: #00000000;
  border: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.dropdown-toggle img {
  width: 24px;
  height: 24px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  width: 43px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  background-color: #1e1e1e;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.dropdown-menu.show {
  display: block;
}

.dropdown-menu li {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: #572576;
  border-radius: 10px;
}

.dropdown-menu li img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

@media (max-width: 600px) {
  .dropdown-menu {
    position: fixed;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    min-width: 100%;
    border-radius: 0;
    box-shadow: none;
    border: none;
    border-top: 1px solid #ccc;
  }
}
