<div class="bottom-section-container">
  <div class="social-links-container">
    <div class="x-social"><img src="assets/images/xlogo.png" alt="" class="social x-img"></div>
    <div class="yt-social"><img src="assets/images/youtubelogo.png" alt="" class="social yt-img"></div>
    <div class="tk-social"><img src="assets/images/tiktoklogo.png" alt="" class="social tk-img"></div>
    <div class="tel-social"><img src="assets/images/telegramlogo.png" alt="" class="social tel-img"></div>
    <div class="od-social"><img src="assets/images/odyseelogo.png" alt="" class="social od-img"></div>
    <div class="red-social"><img src="assets/images/redditlogo.png" alt="" class="social red-img"></div>
  </div>
  <div class="site-info">
    © Copyright Blackhouse Consulting, LLC 2024. All Rights Reserved |
    <span class="pointer privacy-policy" (click)="triggerNav()">Privacy Policy</span>
  </div>
  <div class="contact-email">
    <a href="mailto:icansee@canyousee.net">icansee&#64;canyousee.net</a>
  </div>
</div>
