.bottom-section-container {
  height: 150px;
  width: 553px;
  margin: auto;
  padding-top: 2rem;

  .social {
    width: 39px;
    height: 39px;
    margin: 0 10px 0 10px;
  }

  .social-links-container {
    display: flex;
    width: 354px;
    margin: auto;
    padding-bottom: 2rem;

    @media (max-width: 768px) {
      flex-wrap: wrap;
      justify-content: center;
      .x-social,
      .yt-social,
      .tk-social,
      .tel-social,
      .od-social,
      .red-social {
        width: 33%;
        display: flex;
        justify-content: center;
        margin: 5px 0;
      }
    }
  }

  .site-info {
    color: white;
    .privacy-policy {
      text-decoration: underline;
    }

    @media (max-width: 768px) {
      text-align: center;
      width: 325px;
      margin: auto;
    }
  }

  .contact-email {
    text-align: center;
    margin-top: 1rem;
    padding-bottom: 2rem;
    a {
      color: white;
    }
    @media (max-width: 768px) {
      font-size: larger;
    }
  }
}
